In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("2018-04-04.csv")

In [14]:
df.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
0,28818,2018-04-04 00:00:26,3113,5738,3.14,259226,3,0,0
1,28819,2018-04-04 00:00:33,179,5416,61.46,259233,3,0,0
2,28820,2018-04-04 00:01:19,1985,9821,49.69,259279,3,0,0
3,28821,2018-04-04 00:01:28,301,7131,50.69,259288,3,0,0
4,28822,2018-04-04 00:01:47,350,3277,27.76,259307,3,0,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9530 entries, 0 to 9529
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TRANSACTION_ID     9530 non-null   int64
 1   TX_DATETIME        9530 non-null   object
 2   CUSTOMER_ID        9530 non-null   int64
 3   TERMINAL_ID        9530 non-null   int64
 4   TX_AMOUNT          9530 non-null   float64
 5   TX_TIME_SECONDS    9530 non-null   int64
 6   TX_TIME_DAYS       9530 non-null   int64
 7   TX_FRAUD           9530 non-null   int64
 8   TX_FRAUD_SCENARIO  9530 non-null   int64
dtypes: float64(1), int64(7), object(1)
memory usage: 670.2+ KB

In [16]:
df.drop(["TX_DATETIME", "TRANSACTION_ID", "CUSTOMER_ID", "TERMINAL_ID"], axis = 1, inplace = True)

In [17]:
df.head()

   TX_AMOUNT  TX_TIME_SECONDS  TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
0       3.14           259226             3         0                  0
1      61.46           259233             3         0                  0
2      49.69           259279             3         0                  0
3      50.69           259288             3         0                  0
4      27.76           259307             3         0                  0

In [18]:
for i in df:
    print(i,"-",df[i].unique())

TX_AMOUNT - [ 3.14 61.46 49.69 ... 49.73 13.6  64.74]
TX_TIME_SECONDS - [259226 259233 259279 ... 345548 345579 345590]
TX_TIME_DAYS - [3]
TX_FRAUD - [0 1]
TX_FRAUD_SCENARIO - [0 2 3 1]

In [19]:
df.drop("TX_TIME_DAYS", axis = 1, inplace = True)

In [20]:
X = df.drop("TX_FRAUD_SCENARIO", axis = 1)
y = df.TX_FRAUD_SCENARIO

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [25]:
from sklearn.naive_bayes import BernoulliNB

In [26]:
berno = BernoulliNB()
berno.fit(X_train, y_train)
berno.score(X_test, y_test)

1.0